.speaker-card{
    max-width: 200px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    /* envelopa a imagem se for maior */ 
    overflow: hidden; 
    text-align: center;
    z-index: 111;
    justify-content: center;
    
}

.speaker-card img{
    width: 100%;
    display: block;
    position: relative;
    
}

.speaker-card figcaption{
    position: relative;
    padding: 8px;
    background-color:rgb(253, 253, 253);
}

.speaker-card h2{
    margin:5px 0 ;
    font-size: 18px;
    color: #94a48b;
}

.speaker-card p{
    font-size: 15px;
    color: #94a48b;
}

/* hover executar quando o mouse */
.speaker-card:hover{
    transform: scale(1.2);
    filter:  drop-shadow(0 0 2px rgb(167, 167, 167));
    cursor:pointer;
}

    
