.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 92vh;
    left: 0;
    width: 100%;

    height: 50vh;
    z-index: 1000;
    
    background-color: beige;
}

.footer-adress h3{
    color: #2B4A33;
    text-align: center;
}

.footer-social{
    display: flex;  
    justify-content: center;
    align-items: center;
    
}

.footer-logo img{
    height: 200px;
}

.footer-social ul{
    display: flex;
    flex-flow: wrap row;
    gap: 15px;
    padding: 5px 0 0 0;
}

.footer-social img{
    height: 30px;
    border-radius: 5px;
    transition: 0.3s ease;

}

.footer-social img:hover{
    transform: scale(1.3);
    filter:  drop-shadow(0 0 3px rgb(167, 167, 167));
    cursor:pointer;

}