/* Importar arquivos de estilos */
@import url(./header.css);
@import url(./footer.css);
@import url(./cards.css);


/* efeito suave entre as seçãoes da página para rolar */
html{
   scroll-behavior: smooth; 
}

.content-capa, .content-bq-s, .content-bq-g, .content-bq-ft{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
}

.content-bq-s, .content-bq-g, .content-bq-ft{
    background-color: #A5B89B;
    
}

.content-capa{
    background-color:#F0EADA;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-bq-s{
    flex-direction: column;
    text-align: center;
}

.card{
    flex-direction: row;
}

.content-capa img{
    height: 600px;
}

.titulo{
    color: #2B4A33;
    
    z-index: 111;
    text-align: center;
}

.content-bq-s > h1{
    position:absolute;
    top: 100px;
}

.titulo p{
    display: flex;
    margin: 60px;
    color: #A5B89B;
    background-color: #E8DCBC;
    font-size: 30px;

}






