/* Heade fixo no topo */
.header{
    /* Para fixar na tela */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Altura do header */
    height: 8vh;
    background-color: #ecdcafe8;
    box-shadow: o 2px 5 px rgba(0,0,0,0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    z-index: 1000;
}

/* Tamanho da imagem */
.header-logo img{
    height: 70px;
}

/* Menu: lista horizontal usando flex */
.header-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    /* espaço entre os itens01, 02 ....*/
    gap: 20px;
}

/* Itens do menu: estilo botão */
.header-menu li{
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular';
    font-size: 20px;
    padding: 8px 15px;
    /* sai da seleta para mão */
    cursor: pointer; 
    border-radius: 5px;
    transition: backgroung-color 0.3s ease, color 0.3s ease ;
    box-shadow: o 2 px 4px rgba(226, 12, 12, 0.1);
    /* evita seleção do texto no clique */
    user-select: none;
}

/* Efeito hover nos itens do menu */
.header-menu li:hover{
    background-color: #A5B89B;
    color: #fff;
    box-shadow: 0 4px 8px #97aa8c;
}

/* Estilo da frase */
.header-name h1{
    display: flex;
    align-items: center;
    font-family:Georgia;
    font-size: 15px;
}